<section class="property-biding" >
    <!--
    <article> <!--Testando Interpolação 
        <h3>
            Interpolação/Interpolation
        </h3>
        
        <p>
            String renderizada com Interpolação: {{ url }}
        </p>
        
        <p>
            Resultado de 1 + 1 é: {{ 1+1 }}
        </p>

        <p>
            Resultado de 1 + 1 NÃO é: {{ 1 + 1 + getValor() }}
        </p>

        <p>
            Curso Angular e  gosto do curso: {{ cursoAngular && getCurtirCurso() }}
        </p>
    </article>

        
    <article> <!-- Testando o Property Biding
        <h3>Property Biding</h3>
        <img [src]="urlImagem"> <br> <!--Colocamos a propriedado do HTML entre colchetes para indicar o property-biding
        <img bind-src="urlImagem2"> <!--Também é uma property-biding como a linha acima.
    </article>
    -->

    <article> <!--Class e Style Biding Utilizando CSS-->
        <h3>
            Class e Style Biding
        </h3>

        <div>
            Selecione uma classe:
            <select #classe (change) = "0">
                <option value="alert-success"> Sucesso </option>
                
                <option value="alert-info"> Info </option>
                
                <option value="alert-warning"> Alerta </option>
                
                <option value="alert-danger"> Erro </option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme valor do combobox.
            </div>

            <div class="alert" role="alert" 
                [class.alert-success]="classe.value =='alert-success'">
                Sucesso
              </div>

              <div class="alert" role="alert"
              [class.alert-info]="classe.value == 'alert-info'">
                Info
              </div>

              <div class="alert" role="alert"
              [class.alert-warning]="classe.value == 'alert-warning'">
                Alerta
              </div>

              <div class="alert" role="alert"
              [class.alert-danger]="classe.value == 'alert-danger'">
                Erro
              </div>


              <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block': 'none'">
                Esse texto só aparece em caso de erro.
              </div>
             
             
              

        </div>
    </article>

</section>
